@use "variables/colors" as *;

.card-box {
  width: 100%;
  height: 100%;
  background-color: $white-100;

  &:hover {
    .back {
      opacity: 100;
    }
  }

  &__image {
    position: relative;
    height: 70%;

    &__ofert,
    &__new {
      position: absolute;
      text-transform: uppercase;
      color: $white-100;
      padding: 0.5rem;
      box-sizing: border-box;
      font-size: 1.1rem;
      z-index: 100;
    }

    &__ofert {
      top: 0;
      right: 0;
      margin: 1rem;
      font-weight: bold;
      border-radius: 15px;
      background-color: $purple-100;
    }

    &__new {
      bottom: 0;
      left: 0;
      background-color: $black-100;
      width: 100%;
      text-align: center;
    }

    &__preview {
      height: 100%;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
      }

      .back {
        opacity: 0%;
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 0.3s ease-in-out;
      }
    }
  }

  &__info {
    position: relative;
    background-color: $white-100;
    padding: 1rem;

    h4 {
      margin: 0;
      font-weight: 500;
    }

    p {
      font-weight: bold;
      font-size: 1.4rem;
      padding-block: 0.5rem;
      margin: 0;
    }

  }
}

.previous-price {
  color: $black-transparent-2;
  text-decoration: line-through;
  margin-right: 0.5rem;
}

.discount {
  font-weight: bold;
  color: $green-100;
}

.add-cart{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
  font-size: 2rem;
  padding: .5rem;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  background-color: $purple-70;
  color: $purple-120;


}
