<div class="card-box">
    <div class="card-box__image">
        <div *ngIf="info.discount>0" class="card-box__image__ofert">
            <span>Oferta</span>
        </div>
        <div class="card-box__image__preview">
            <img class="front" src="{{info.img.front.src}}" alt="{{info.img.front.description}}">
            <img class="back" src="{{info.img.back.src}}" alt="{{info.img.back.description}}">
        </div>
        <div *ngIf="newProduct" class="card-box__image__new">
            <span>Nuevo!</span>
        </div>
    </div>
    <div class="card-box__info">
        <h4>{{info.name}}</h4>
        <p>{{showPrice | currency : 'USD' : 'symbol' : '1.0-0'}}</p>
        <div *ngIf="info.discount>0" class="discountPercent">
            <span class="previous-price">
                {{info.price | currency : 'USD' : 'symbol' : '1.0-0'}}
            </span>
            <span class="discount">
                {{info.discount | discountPercent}}
            </span>
        </div>
        <button class="add-cart">
            <fa-icon icon="cart-plus"></fa-icon>
        </button>
    </div>
</div>
