@use "components/buttons" as *;
@use "variables/borders" as *;
@use "variables/spaces" as *;
@use "variables/fonts" as *;
@use "variables/colors" as *;
@use "helpers/mixins" as *;

.tag-box {
  margin-block: 1rem;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  gap: 1rem;
  align-items: center;

  @include media-down(md) {
    grid-template-columns: 1fr;
  }

  .search-box,
  .add-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 25rem;
  }

  .add-box > button {
    align-self: flex-end;
    height: 3.2rem;
  }

  .result-box {
    height: 100%;
    border: $border-purple-50;
    border-radius: $radius-all-300;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    padding: 0.5rem;
    grid-auto-rows: min-content;

    &.center {
      place-content: center;
    }

    @include media-down(lg) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-down(sm) {
      grid-template-columns: 1fr;
    }

    &__item {
      @extend .button;
      border-radius: 2rem 2rem 2rem 2rem;
      background-color: $black-transparent-3;
      transition: background-color 0.3s ease-in-out;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      &--selected {
        background-color: $purple-100;
      }
    }
  }

  .search-box__options {
    display: flex;
    gap: 0.5rem;

    form {
      flex-basis: 100%;
    }
  }

  label {
    font-weight: $font-semibold;
    font-size: $font-size-200;
  }
}

button {
  @extend .button-primary;
  font-size: $font-size-150;
  height: 2.7rem;
  padding: 0;
  padding-inline: 1rem;
}

.loading-box {
  font-size: 7rem;
  grid-column: span 3;
  text-align: center;
}

.add-item {
  display: flex;
  background-color: $purple-80;
  align-items: center;
  justify-content: space-between;
  border-radius: 2rem 2rem 2rem 2rem;

  span {
    flex-basis: 75%;
    text-align: center;
    font-weight: bold;
  }

  button {
    flex-basis: 25%;
    align-self: flex-end;

    fa-icon {
      pointer-events: none;
    }
  }
}
