@use "variables/colors" as *;
@use "variables/spaces" as *;
@use "variables/borders" as *;
@use "variables/fonts" as *;
@use "variables/indexes" as *;
@use "components/buttons";
@use "components/menu";
@use "helpers/mixins" as *;
@use "helpers/sr" as *;

.wallet {
  color: $white-100;
  font-size: $font-size-300;
  font-weight: bold;
}

.logout {
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-decoration: none;
  white-space: nowrap;
  font-size: $font-size-230;
  color: $red-100;
  font-weight: bold;
}

.hide {
  display: none;

  @include media-down(md) {
    display: block;
  }
}
