<div class="loader-box" *ngIf="show">
    <div class="icons">
        <img src="/assets/img/loader/1.png" alt="Imagen de carga">
        <img src="/assets/img/loader/2.png" alt="Imagen de carga">
        <img src="/assets/img/loader/3.png" alt="Imagen de carga">
        <img src="/assets/img/loader/4.png" alt="Imagen de carga">
        <img src="/assets/img/loader/5.png" alt="Imagen de carga">
    </div>
    <div class="percent">{{percent}}%</div>
    <div class="bar">
        <div class="barconfrm"></div>
        <div class="loader-icon">
            <img src="/assets/img/loader/load.png" alt="icono carga" class="load">
        </div>
    </div>
</div>