@use "variables/colors" as *;
@use "variables/spaces" as *;
@use "variables/borders" as *;
@use "variables/fonts" as *;
@use "helpers/mixins" as *;
@use "components/buttons" as *;

.full-box {
  height: 100vh;
  display: grid;
  place-content: center;

  &__item {
    height: 100%;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .full-next,
  .full-prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: $purple-120;
    color: $white-100;
    font-size: $font-size-350;
    padding: $space-250;
    border: none;
    border-radius: 100%;

    @include media-down(md){
      top: 90%;
      margin-bottom:$space-250;
    }

    &.disabled {
      cursor: not-allowed;
      background-color: $purple-70;
    }
  }

  .full-next {
    right: 0;
    margin-right:$space-250;
  }

  .full-prev {
    left: 0;
    margin-left:$space-250;
  }

}
