<app-modal title="Agregar Saldo" [overRef]="ovRef">
    <form [formGroup]="walletForm" (ngSubmit)="addMoney()" novalidate>
        <app-input type="number" label="Monto" controlName="wallet" placeholder="Ingrese un monto.." [form]="walletForm" numberIcon="dollar-sign"></app-input>
        <app-button type="submit" className="button-primary" [disabled]="!walletForm.valid" text="Agregar"></app-button>
        <app-form-notification [error]="error" [messages]="messages"></app-form-notification>
    </form>
</app-modal>
