@use "helpers/mixins" as *;

.form {
  padding-block: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  @include media-down(sm) {
    grid-template-columns: 1fr;
  }
}

.group-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
