<section>
    <div class="logo-box" #logoBox>
        <div *ngFor="let button of buttons" class="logo-item">
            <a href="{{button.href}}" target="_blank" rel="nofollow external"><img src="{{button.background!.src}}" alt="{{button.background!.alt}}"></a>
        </div>
    </div>
    <div class="logo-box delay" #logoBox>
        <div *ngFor="let button of buttons" class="logo-item">
            <a href="{{button.href}}" target="_blank" rel="nofollow external"><img src="{{button.background!.src}}" alt="{{button.background!.alt}}"></a>
        </div>
    </div>
</section>