$navbar-options-font-size: clamp(.4rem, 20vw, 1rem);

$font-size-100: .8rem;
$font-size-200: clamp(.5rem,3vw,1rem);
$font-size-230:  clamp(1rem, 2vw, 1.2rem);
$font-size-250: clamp(1.3rem,5vw,1.5rem);
$font-size-280: clamp(.5rem,6vw,2rem);
$font-size-300: clamp(1rem,7vw,2rem);