$navbar-options-font-size: clamp(.4rem, 20vw, 1rem);

$font-size-100: .8rem;
$font-size-150: clamp(.3rem,2.5vw,1rem);
$font-size-200: clamp(.5rem,3vw,1rem);
$font-size-230: clamp(1rem, 2vw, 1.2rem);
$font-size-250: clamp(1.3rem,5vw,1.5rem);
$font-size-280: clamp(.5rem,6vw,2rem);
$font-size-300: clamp(1rem,7vw,2rem);
$font-size-350: clamp(1rem,6vw,2.5rem);
$font-size-400: clamp(2rem,7vw,3rem);
$font-size-500: clamp(3rem,10vw,4rem);


$font-bold: bold;
$font-semibold: 600;
$font-regular:400;
$font-light:300;