<section>
    <div class="carousel-box">
        <div class="gallery" #gallery>
            <!-- NOT WORK WELL WITH NG FOR -->
            <div class="gallery__item">
                <img src="/assets/img/carousel/carousel 1.jpg" alt="publicidad">
            </div>
            <div class="gallery__item">
                <img src="/assets/img/carousel/carousel 2.jpg" alt="publicidad">
            </div>
            <div class="gallery__item">
                <img src="/assets/img/carousel/carousel 3.jpg" alt="publicidad">
            </div>
            <div class="gallery__item">
                <img src="/assets/img/carousel/carousel 4.jpg" alt="publicidad">
            </div>
            <div class="gallery__item">
                <img src="/assets/img/carousel/carousel 5.jpg" alt="publicidad">
            </div>
            <div class="gallery__item">
                <img src="/assets/img/carousel/carousel 6.jpg" alt="publicidad">
            </div>
        </div>
        <div class="indicators" (click)="goTo($event)">
            <button *ngFor="let i of list;let indice=index" value="{{indice}}" [ngClass]="{active:indice == currentItem}"></button>
        </div>
    </div>
</section>
