<app-info-text [title]="title"
    text="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit eum laudantium modi deleniti rem tempora eaque aspernatur? Ratione, dignissimos iure! Id dignissimos earum reiciendis provident molestiae officia aliquid magni. Aperiam.
Hic suscipit, repudiandae repellendus cumque consequatur sapiente ut consequuntur quas nam tempore ipsam qui odit at voluptatem dolorem nisi facilis doloribus rerum sequi quae mollitia aliquam. Inventore dicta reprehenderit quasi.
Impedit placeat aspernatur, ab odit nisi quos vero, labore neque expedita repellat vitae eveniet cumque quasi ipsa rerum optio dignissimos vel perferendis ut aperiam magnam commodi iure quod hic! Aliquid.">
</app-info-text>
<form [formGroup]="form" class="form">
    <app-input-file controlName="files" [form]="form" label="Añadir imagen" placeholder="Seleccione una imagen..." [maxAdd]="max"></app-input-file>
</form>