<app-modal title="Iniciar Sesión" [overRef]="ovRef">
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="form-box" novalidate>
        <app-input label="Email" placeholder="Ingrese su email.." controlName="email" labelIcon="envelope" labelIconFormat="far" [form]="loginForm"></app-input>
        <app-input-password label="Contraseña" placeholder="Ingrese su contraseña.." labelIcon="lock" controlName="password" [form]="loginForm"></app-input-password>
        <app-button type="submit" className="button-primary full" [disabled]="!loginForm.valid" text="Ingresar"></app-button>
    </form>
    <app-form-notification *ngIf="errorMessages.length > 0" [error]="true" [messages]="errorMessages"></app-form-notification>
    <div class="form-options">
        <ul>
            <li><button type="button">Recuperar contraseña</button></li>
            <li><a [routerLink]="['user/register']">Crear cuenta</a></li>
        </ul>
    </div>
</app-modal>