@use "variables/colors" as *;
@use "variables/shadows" as *;
@use "variables/fonts" as *;
@use "variables/borders" as *;
@use "variables/spaces" as *;
@use "components/buttons" as *;

.title-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;

    h2{
        margin: 0;
        font-size: $font-size-280;
        color: $white-80;
        text-shadow: $text-shadow-200;
        white-space: nowrap;
    }

    .section-options{
        display: flex;
        margin-top: $space-150;
        gap: $space-180;
    }
}

hr{
    border: $border-section;
    border-radius: $radius-all-500;
    margin-bottom: $space-180;

}

