@use "variables/colors" as *;
@use "variables/fonts" as *;
@use "variables/spaces" as *;
@use "variables/borders" as *;
@use "variables/indexes" as *;
@use "components/buttons" as *;
@use "helpers/mixins" as *;

.cart{
    position: relative;
    font-size: $font-size-250;
    color: $white-100;
    background-color: transparent;
    cursor: pointer;
    border: none;

    &__indicator{
        position: absolute;
        top: - $space-100;
        right: - $space-100;
        width: 1.2rem;
        height: 1.2rem;
        background-color: $purple-120;
        border-radius: 100%;
        color: white;
        display: grid;
        place-content: center;
        font-size: 12px;
        font-weight: bold;
    }

    &:focus-visible{
        color: $purple-130;
        font-weight: bold;
        outline:none;
    }

}

.notification-box{
    position: absolute;
    right: $space-180;
    top: 7rem;
    display: flex;
    flex-direction: column;
    gap: $space-180;
    text-align: right;
    color:white;
    font-size: $space-180;
    font-weight: $font-semibold;
    z-index: $index-5;
    
    .notification{
        position: relative;
        transform: translateX(150%);
        opacity: 0;
        padding: $space-180;
        background-color: black;
        border-radius: $radius-all-300;
        display: block;
        z-index: $index-3;
    }
}