@use "variables/colors" as *;
@use "variables/fonts" as *;
@use "variables/spaces" as *;
@use "variables/borders" as *;

.button {
  padding: $space-100;
  border: none;
  cursor: pointer;
}

.button-section{
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding-inline:min(1rem,2vw);
  padding-block: $space-50;
  border-radius: $radius-all-100;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: $white-100;
  color: $purple-110;
  font-size:$font-size-150;
}

.button-base {
  color: $white-100;
  font-size: $font-size-200;
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: $space-180;
  border-radius: $radius-all-300;
  text-decoration: none;
  transition: background-color .3s ease-in-out;

  &:disabled{
    cursor: not-allowed;
    background-color: $purple-60;
  }

  &.full{
    width: 100%;
  }
}

.button-primary{
  @extend .button-base;
  background-color: $purple-122;
}

.button-secondary{
  @extend .button-base;
  background-color: $purple-130;
}

.button-primary-input{
  @extend .button-primary;
  font-size: $font-size-150;
  height: 2.7rem;
  padding: 0;
  padding-inline: 1rem;
}

.button-menu {
  @extend .button;
  background-color: $purple-120;
  border-radius: $radius-all-300;
  font-size: $font-size-230;
  font-weight: bold;
  color: $white-80;

  &:focus {
    outline: $border-white-100;
  }
}

.link {
  text-decoration: none;

  &:focus {
    color: $purple-130;
    font-weight: bold;
    outline: none;
  }
}

.link-header,
.link-nav {
  @extend .link;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.link-header {
  font-size: $font-size-230;
  color: $white-80;
  white-space: nowrap;
  font-weight: 400;
  text-shadow: rgba(0, 0, 0, 0.329) 3px 5px 3px;
}

.link-nav {
  color: $grey-100;
  font-size: $font-size-200;
}
