@use "variables/colors" as *;
@use "variables/fonts" as *;
@use "variables/spaces" as *;
@use "variables/borders" as *;

.button {
  padding: $space-100;
  border: none;
  cursor: pointer;
}

.button-menu{
  @extend .button;
  background-color: $purple-120;
  border-radius: $radius-all-300;
  font-size: $font-size-230;
  font-weight: bold;
  color: $white-80;

  &:focus {
    outline: $border-white-100;
  }
}

.link{
  text-decoration: none;

  &:focus {
    color: $purple-130;
    font-weight: bold;
    outline: none;
  }

}

.link-header,.link-nav{
  @extend .link;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.link-header {
  font-size: $font-size-230;
  color: $white-80;
  white-space: nowrap;
  font-weight: 400;
  text-shadow: rgba(0, 0, 0, 0.329) 3px 5px 3px;
}

.link-nav {
  color: $grey-100;
  font-size: $font-size-200;
}
