@use "../variables/colors" as *;

::-webkit-scrollbar{
    width:.5rem;
}

::-webkit-scrollbar-track{
    background: $scrollbar-track-color;
}

::-webkit-scrollbar-thumb{
    background: $scrollbar-thumb-color;
}

@supports(scrollbar-color:$scrollbar-track-color $scrollbar-thumb-color){
    *{
        scrollbar-color: $scrollbar-track-color $scrollbar-thumb-color;
        scrollbar-width: thin;
    }
}