@use "variables/colors" as *;
@use "variables/spaces" as *;
@use "variables/indexes" as *;
@use "variables/fonts" as *;
@use "variables/borders" as *;
@use "variables/shadows" as *;
@use "helpers/mixins" as *;

footer{
    position: relative;
}

.info-panel{
    position: relative;

    &__button{
        display: flex;
        justify-content: center;
        margin-top: $space-200;
        height: 2.3rem;

        button{
            padding: $space-100;
            border: none;
            border-radius:$radius-top-100;
        }

    }
    &__options{
        position: relative;
        visibility: hidden;
        height: 0;
        overflow: hidden;
        background: url("/assets/img/background/footer.jpg");
        background-size: cover;
        background-position: 50%;
        display: flex;
        transition:.2s ease-in-out;

        @include media-down(sm){
            justify-content: center;
        }

        &.open{
            height: 20rem;
            visibility: visible;
        }

        &__area{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: $space-100;
            z-index: $index-1;
            padding:$space-400;

            h3{
                margin-top: 0;
                margin-bottom: $space-200;
                color: $white-100;
                font-weight: bold;
            }
    
            a{
                color: $grey-100;
                text-decoration: none;
            }

        }

        &::after{
            content: "";
            position: absolute;
            inset: 0;
            background: $footer-gradient;

            @include media-down(md){
                background: $black-transparent-3;
            }
        }
    }
}

.terms{
    position: relative;
    padding-block: $space-150;
    padding-inline: $space-400;
    display: flex;
    flex-direction: column;
    gap: $space-150;
    background-color: $grey-100;
    font-size: $font-size-200;

    .options{
        display: flex;
        gap:$space-200;
        
        a{
            text-decoration: none;
            color: $black-100;
        }
    }

    .author{
        display: flex;
        flex-direction: column;
        gap: $space-50;
        color: $black-transparent-2;
        font-size: $font-size-100;
    }

    .social-media{
        position: absolute;
        top: 0;
        right: 0;
        padding-right: $space-400;
        padding-block: $space-150;
        text-align: right;

        @include media-down(sm){
            position: relative;
            text-align: left;
            padding-block: 0;
        }
        
        p{
            margin-top: 0;
            margin-bottom: $space-100;
        }

        &__links{
            display: flex;
            gap: $space-100;
            height: 2rem;

            img{
                border-radius: $radius-all-100;
                width: 2rem;
                height: 100%;
                object-fit: fill;
                filter: grayscale(80%);
                box-shadow: $box-shadow-100;
                transition: filter .5s ease-in-out;

                &:hover{
                    filter: grayscale(5%);
                }
            }
        }

    }
}
