@use "variables/colors" as *;
@use "variables/spaces" as *;
@use "variables/borders" as *;
@use "variables/fonts" as *;
@use "variables/animations" as *;
@use "components/buttons" as *;

.field-box {
  display: flex;
  flex-direction: column;
}

.icon-label {
  margin-left: $space-50;
}

.checkbox-text {
  margin-left: 0.5rem;
  margin-block: auto;
}

label {
  margin-bottom: $space-100;
  font-weight: 600;
  font-size: $font-size-200;
}

.field-icon {
  display: grid;
  place-content: center;
  font-size: $font-size-250;
  padding: 1rem;
  border-radius: $radius-left-100;
  background-color: $purple-120;
  color: $white-100;
}

.field {
  display: flex;  

  button {
    @extend .button;
    color: $white-80;
    background-color: $purple-122;
    border-radius: $radius-right-100;
    padding: $space-100;
  }

  .pass {
    border-radius: $radius-left-100;
    flex-basis: 100%;
  }
}

input:focus,
button:focus {
  outline: 2px solid $purple-100;
  box-shadow: 0 0 0 3px $purple-120;
}


input {
  border: $border-purple-50;
  border-radius: $radius-all-300;
  padding: $space-100;
  box-shadow: 0 0 0 3px transparent;
  transition: box-shadow 0.3s ease-in-out;
  width: 100%;

  &::placeholder {
    color: $black-transparent-2;
    font-style: italic;
    font-weight: 300;
  }
}

input[type="number"] {
  border-radius: $radius-right-100;
}

input[type="checkbox"] {
  position: relative;
  appearance: none;
  width: 2rem;
  height: 2rem;
  flex-basis: auto;
  border: $border-purple-100;
  border-radius: 0.3rem;
  display: grid;
  place-content: center;

  &::before {
    content: "";
    width: 1rem;
    height: 1rem;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1rem 1rem $purple-120;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  &:checked::before {
    transform: scale(1);
  }
}

.invalid {
  border: none;
  outline: $border-red-100;
}

.error {
  color: $red-100;
  margin-top: $space-100;
  font-size: $font-size-100;
  font-weight: bold;
  animation: fadeUp 1s ease-in forwards;
}
