<app-input-base [controlName]="controlName" [form]="form" [label]="label" [labelIcon]="labelIcon" [labelIconFormat]="labelIconFormat" [formGroup]="form" [hideLabel]="hideLabel">
    <input class="border-left" type="{{type}}" id="{{controlName}}" formControlName="{{controlName}}" placeholder="{{placeholder}}">
    <button [disabled]="form.invalid" type="button" (click)="onClick()">
        <ng-container *ngIf="load else elseBlock">
            <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
        </ng-container>
        <ng-template #elseBlock>
            <fa-icon [icon]="buttonIcon"></fa-icon>
        </ng-template>
    </button>
</app-input-base>
