<header>
    <div class="header-top">
        <a routerLink="/home" id="logo-header"><img class="logo" src="/assets/img/logo.png" alt="Logo"></a>
        <app-searcher class="large-width"></app-searcher>
        <ul class="header-options" #headerOptions>
            <ng-container *appRole="[roles.NoAuth]">
                <li id="register"><a routerLink="../user/register" class="link-header">Crear cuenta</a></li>
                <li id="login"><app-link-with-modal title="Ingresar" [roles]="[roles.NoAuth]" buttonStyle="link-header" [component]="login"></app-link-with-modal></li>
            </ng-container>
            <li>
                <app-cart></app-cart>
            </li>
            <li>
                <app-mobile-nav></app-mobile-nav>
            </li>
        </ul>
    </div>
    <div id="nav-options">
        <nav *appRole="[roles.NoAuth]">
            <ul id="navbar-options" class="navbar-options">
                <ng-container *ngFor="let option of options">
                    <li><a [routerLink]="option.href" [queryParams]="option.params" class="link-nav">{{option.text}}</a></li>
                </ng-container>
            </ul>
        </nav>
    </div>
</header>