<app-modal-menu [overRef]="ovRef">
    <div class="menu">
        <h3>Carrito</h3>
        <div class="menu__info">
            <span>{{cart.length}} {{cart.length === 1? 'producto': 'productos'}}</span>
            <span>Total: {{ total | currency : 'USD' : 'symbol' : '1.0-0' }}</span>
        </div>
        <ng-container *ngIf="cart.length > 0">
            <hr>
            <div role="table" class="menu__cart">
                <h4 class="left">Nombre</h4>
                <h4 class="price-column">Precio</h4>
                <h4>Quitar</h4>
                <ng-container *ngFor="let product of cart">
                    <span class="left">{{product.name}}</span>
                    <span class="price-column">{{product.price - (product.price * product.discount/100) | currency : 'USD' : 'symbol' :
                        '1.0-0'}}</span>
                    <button type="button" class="option" id="{{product.productId}}" (click)="remove($event)">
                        <fa-icon icon="xmark">
                        </fa-icon>
                    </button>
                </ng-container>
            </div>
            <button class="to-cash">
                Ver compra
            </button>
        </ng-container>
    </div>
</app-modal-menu>