@use "variables/colors" as *;
@use "variables/spaces" as *;
@use "variables/borders" as *;
@use "variables/animations" as *;
@use "variables/fonts" as *;
@use "components/buttons";
@use "helpers/mixins" as *;


.notification {
  background-color: $green-100;
  color: $white-100;
  opacity: 0;
  transform: translateY(-20px);
  border-radius: $radius-all-200;
  
  &.error {
    background-color: $red-100;
  }
  
  &.show{
    padding: $space-180;
    animation: show;
    animation-duration: 5s;
  }

  @keyframes show{
    0%,100%{
      opacity: 0;
      transform: translateY(-20px);
    }
    30%,80%{
      opacity: 1;
      transform: translateY(0);
    }
  }

}
