<div class="carousel">
    <div class="carousel-view" (window:resize)="onResize($event)">
        <div class="carousel-box" #carouselBox>
            <div *ngFor="let item of items; index as i" class="carousel-box__item">
                <app-item-card [info]="items[i]"></app-item-card>
            </div>
        </div>
    </div>
    <button *ngIf="currentPosition>0" class="arrow-left" (click)="previous()">
        <fa-icon icon="angle-left"></fa-icon>
    </button>
    <button *ngIf="currentPosition<lastPosition" class="arrow-right" (click)="next()">
        <fa-icon icon="angle-right"></fa-icon>
    </button>
</div>