<app-button-with-modal-menu [component]="component" [providers]="providers" (close)="changeIcon()">
    <button [ngClass]="user.role==roles.NoAuth?'mobile-nav-toggle':'user-nav-toogle'" (click)="changeIcon()">
        <span class="sr-only">Menu</span>
        <ng-container *appRole="[roles.Admin,roles.Client]">
            <span>{{user.name + " "+user.lastname}}</span>
            <fa-icon id="desktop-icon" icon="circle-user"></fa-icon>
        </ng-container>
        <fa-icon id="mobile-icon" [icon]="icon"></fa-icon>
    </button>
</app-button-with-modal-menu>