@use "variables/colors" as *;
@use "variables/spaces" as *;
@use "variables/borders" as *;
@use "variables/fonts" as *;
@use "variables/indexes" as *;
@use "components/buttons";
@use "helpers/mixins" as *;
@use "helpers/sr" as *;

.mobile-nav-toggle {
  @extend .button-menu;
  display: none;

  @include media-down(md) {
    display: block;
  }
}

.user-nav-toogle{
  @extend .button-menu;
  white-space: nowrap;
  display: flex;
  font-size: $font-size-200;

  span{
    margin-right: $space-100;
  }

  #mobile-icon{
    display: none;
  }

  @include media-down(md){
    
    #desktop-icon,span{
      display: none;
    }

    #mobile-icon{
      display: block;
      white-space: nowrap;
    }

  }
}

